# .\_static\starCAManim_AllCAMs_OneModel\densenet161\*
# .\_build\html\_static\starCAManim_AllCAMs_OneModel\densenet161\*

# all-cam-animations/_static/starCAManim_AllCAMs_OneModel
# all-cam-animations/_build/html/_static/starCAManim_AllCAMs_OneModel

_build/html/_static/starCAManim_AllCAMs_OneModel
_static/starCAManim_AllCAMs_OneModel